.card__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    font-size: 0;
    border: none;
    background: transparent;
    background-image: url(../../../images/delete.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.card__delete:hover {
    opacity: 0.6;
}