.profile {
    margin: 40px auto 0 auto;
    width: 282px;
    display: grid;
    grid-template-rows:  1fr 50px;
    justify-items: center;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .profile {
        margin: 40px auto 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 880px;
       
    }
    }