.header {
    width: 320px;
    height: 82px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
    .header {
        width: 880px;
        height: 119px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}