.popup__close {
 background-color: inherit;
background-image: url("../../../images/close-popup.svg");
background-repeat: no-repeat;
background-position: center;
width: 32px;
height: 32px;
margin: 0 -28px 10px 0;
padding: 0;
border: 0;
}

.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}