.profile__name {
    font-weight: 500;
    font-size: 27px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    
}


@media screen and (min-width: 1280px) {
.profile__name {
    font-weight: 400;
    font-size: 43px;
 }
}